body {
  background-image: url('../media/Ballons2.png');
  /*background-repeat: repeat-y;
  background-size: 100%;*/
}

ul {
  margin: 0px;
  padding: 0px;
}

.border-black {
  border: 2px solid rgb(7, 7, 7);
}

.border-black-top {
  border-top: 2px solid rgb(7, 7, 7);
}

.border-black-bottom {
  border-bottom: 2px solid rgb(7, 7, 7);
}

.border-black-sides {
  border-left: 2px solid rgb(7, 7, 7);
  border-right: 2px solid rgb(7, 7, 7);
}

.label-size {
  max-width: 50%;
}


.teamImg {
  object-fit: cover;
}

.aktGoKart {
  min-height: 344px;
  min-width: none;
}

/*Aktiviteter boxes*/
.aktImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.less-rounded-end {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.navImg {
  min-width: 120px;
  min-height: 80px;
  width: 120px;
  height: 80px;
}

a {
  text-decoration: none;
  color: #151414;
}

a:hover {
  color: #33b5e5;
  cursor: pointer;
}

.aktBox {
  width: 544px;
  border-radius: 5px;
}

/* FOOTER SECTION */
.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  /* color: rgb(245, 238, 238); */
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  color: #3B5998;
}

.twitter-bg {
  color: #55ACEE;
}

.instagram {
  color: #d6249f;
  /* 
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: #d6249f;
   */

}


.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* Shape divider */
.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  display: block;
  position: relative;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: rgb(30, 164, 165);
}

.footer-icon-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-icon-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom svg {
    width: calc(100% + 1.3px);
    height: 140px;
  }
}

/* Fontpage card style */
.fontpage-card-style {
  min-width: 275px;
  min-height: 170px;
  object-fit: cover;
}

/* Card effect */
.container_foto {
  background-color: rgba(255, 193, 7, 1);
  padding: 0;
  overflow: hidden;
  max-width: 350px;
  max-height: 87%;
  margin: 5px;
  border: 2px solid black;
}

.container_foto article {
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container_foto h2 {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  border-bottom: #fff solid 1px;
}

.container_foto img {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.ver_mas {
  background-color: rgba(13, 202, 240, 0.95);
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  z-index: 1;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* animation with icon */
.container_foto:hover .ver_mas {
  border-top: 2px solid black;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
}

/* Icon */
.ver_mas span {
  font-size: 40px;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 13px;
}

/*hovers*/
.container_foto:hover {
  cursor: pointer;
}

.container_foto:hover img {
  opacity: 0.6;
  transform: scale(1.1);
}

/* pushes title */
.container_foto:hover article {
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
}


#activitiesFormula {
  display: none;
}

#reservationsFormula {
  display: none;
}