<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Remote stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link media="all" href="../static/css/css.css" rel="stylesheet">

    <!-- Remote JavaScripts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> 

</head>
<body>
    <nav class="navbar navbar-expand-md bg-info" style="border: 2px solid rgb(7, 7, 7);">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand" href="./index.html">
                    <img src="../static/media/AdventureAlley.png" alt="img" width="100" height="80">
                </a>
                <div class="navbar-nav me-auto mb-2 mb-md-0">
                    <a class="btn mx-2 my-2 btn-dark" href="/">
                        Forside
                    </a>
                    <a class="btn mx-2 my-2 btn-dark" href="./aktiviteter.html">
                        Aktiviteter
                    </a>
                    <a class="btn mx-2 my-2 btn-dark" href="./priser.html">
                        Priser
                    </a>
                    <a class="btn mx-2 my-2 btn-dark" href="./kontakt-os.html">
                        Kontakt os
                    </a>
                    <a class="btn mx-2 my-2 btn-dark" href="./login.html">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </nav>
  kontakt-os side  
</body>
</html>